/*ESTILO HOME*/
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, $pink-card 0%, $orange-card 100%);
  color:white;
    .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
    }
    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
        .imagen-home{
        width: 200px;
        }
        .h1-home {
        text-transform: uppercase;
        font-kerning:2px;
        font-weight:800;
        letter-spacing: 2px;
        font-size:48px;
        }
        a{
        text-decoration: none;
        }
    }
    .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
        .parallax { 
            use {
            animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
                &:nth-child(1) {
                animation-delay: -2s;
                animation-duration: 7s;
                }
                &:nth-child(2) {
                animation-delay: -3s;
                animation-duration: 10s;
                }
                &:nth-child(3) {
                animation-delay: -4s;
                animation-duration: 13s;
                }
                &:nth-child(4) {
                animation-delay: -5s;
                animation-duration: 20s;
                }
            }
        } 
    }
}
.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
p{
color: $font-title;
}
}

/* Animation */
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
