/*ESTILO INFO COMPRA*/
.product-card {
    &__name {
        font-size: 5.85rem;
        margin-top: -2.5rem;
        text-transform: uppercase;
    }

    &__subname {
        color: rgba(0, 0, 0, .5);
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: -2rem;
        text-transform: uppercase;
    }

    &__price {
        font-size: 4rem;
        font-weight: 300;
        padding: .25rem 0;
    }

    &__image {
        img{
            width: 50%;
        }
    }

    &__description {
        color: rgba(0, 0, 0, .5);
        font-size: 1.2rem; 
        width: 40vw;
        font-weight: 300;
    }

    &__availability {
        font-size: 1.15rem;
        padding: 1.75rem 0;
    }

    &__text {
        color: rgb a(0, 0, 0, .6);
    }

    &__ratings {
        .material-icons {
            color: rgba(0, 0, 0, .45);

        &.active {
            color: $accent;
        }
    }
    }

    &__review {
        color: rgba(0, 0, 0, .45);
        font-size: 1.0625rem;
        margin-left: .75rem;
    }

    &__quantity {
        @include clearfix-micro();
        margin: 5rem 0;
        position: relative;
    }

    &__left, &__right {
        position: relative;
    }

    &__right {
        padding: 3rem 0 0 0;
    }

    &__left {
        padding: 3rem 0 0 4rem;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        overflow: hidden;

        &:after {
            position: absolute;
            top: 9rem;
            left: -5rem;
            content: '';
            background: $primary;
            width: 4.5rem;
            height: 14rem;
            z-index: 10;
            transform-origin: 0 0;
            transform: rotate(-135deg);
        }

        button {
        background-color: transparent;
        border: 0;
        color: $white;
        padding-top: .5rem;
        position: relative;
        z-index: 100;
        }
    }
}

.kb {
    &-card {

        &__support-text {
        font-size: 1.15rem;
        font-weight: 300;
        text-transform: uppercase;
        }

        &__footer {
        border-top: 1px solid #d1d1d1;
        padding-top: 1.5rem;
        margin-top: 1rem;
        margin-left: 4rem;
        justify-content: center;
        }
    }

    &-link {
    color: #258cff;
    font-weight: 400;
    }

    &-lists {
    &__item {
    float: left;
    width: 1.5rem;
    }
    }

    &-add-to-cart {
    @include clearfix-micro();
    margin-top: .5rem;
    }

    &-button {
        &--link {
        font-size: 2.25rem;
        font-weight: 300;
        padding: 1rem 2.5rem;
        margin-top: 1rem;

            &:hover {
            cursor: pointer;
            }
        }
    }

    &-carousel {
    @include clearfix-micro();
    float: right;  
    position: relative;
    margin-top: -.5rem;
    width: 65%;

        &__left, &__right {
        background-color: transparent;
        border: 0;
        padding: 0;
        position: absolute;

        .material-icons {
            color: rgba(0, 0, 0, .25);
            font-size: 2.5rem;
            transition: all .3s;

                &:hover {
                color: rgba(0, 0, 0, .5);
                }
        }
        }

        &__left {
        left: 0;
        }

        &__right {
        right: 0;
        }

        &__content {
        color: rgba(0, 0, 0, .35);
        font-size: 2rem;
        font-weight: 500;
        margin-left: 2.75rem;
        padding: 0 3.375rem;
        }
    }   

    &-row {
    @include clearfix-micro();
    }

    &-col {
    float: left;
    }

    &-right {
    float: right;
    }

    &-color {
        &-text {
            &--primary {
            color: $primary;
            }

            &--secondary {
            color: $black
            }
        }
    }
}

