//COLORES
$white: #fff;
$blue-soft: #c7f7f6;
$blue: #48d9d7;
$font-title: #3b3b58;
$grey-color: #e6e6e7;
$blue-card: #50617a;
$orange-card-sorft: rgb(240, 150, 148);
$orange-card: #EF6F6C;
$red-card: #E84855;
$pink-card: #FF386D;
$black: #000000;
$primary: #363636;
$accent: #ed2553;

//FUNCIONES
$bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$time: 300ms;
$accent: null;
