<% include partials/header %>
<% include partials/navbar %>
<div class=" body jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">TÉRMINOS DE USO NIKE</h1>
                <h2>POR FAVOR, LEA LOS ATENTAMENTE ESTOS TÉRMINOS DE USO (“TÉRMINOS”) ANTES DE USAR CUALQUIER PLATAFORMA
                    NIKE.</h2>
                <p class="lead">
                    Si usted se encuentra en cualquiera de los países identificados a continuación, podrán aplicarse los
                    términos
                    específicos adicionales que encontrará al final de estos Términos. En los Términos se hace
                    referencia al país
                    del que se trate en caso de aplicación de los términos adicionales. Los términos adicionales
                    prevalecerán sobre
                    los siguientes Términos en caso de contradicción entre ambos.

                    Argentina, Australia, Brasil, Canadá, Colombia, todos los países europeos (incluyendo los términos
                    específicos
                    para Austria, Bélgica, Francia, Alemania, Hungría, Italia, Polonia y Suiza).

                    ¡Bienvenido a la Comunidad NIKE! Usted está leyendo estos Términos porque está utilizando un sitio
                    web de NIKE,
                    experiencia digital, redes sociales, aplicación móvil, tecnología “llevable” o “portátil”
                    (“wearable”), o uno de
                    nuestros otros productos o servicios, todos ellos parte de Plataforma de NIKE ("Plataforma"). Usted
                    podrá
                    acceder a la Plataforma mediante un ordenador, un teléfono móvil, una tablet, una consola, o por
                    medio de
                    cualquier otra tecnología, de ahora en adelante un “Dispositivo”. Serán de aplicación a su
                    dispositivo las
                    tarifas y los precios normales de su proveedor.

                    Los presentes Términos constituyen un contrato vinculante entre usted y NIKE y sus filiales (en
                    Adelante, “NIKE,
                    “nosotros” o “nuestro”) en relación con el uso de la Plataforma. Por favor, revise nuestra Lista de
                    Entidades
                    Locales para encontrar el nombre de la entidad NIKE responsable de proporcionarle la Plataforma y la
                    información
                    de contacto apropiada. Algunos puntos importantes:

                    Nuestros Términos Pueden Cambiar. Algunas jurisdicciones no permiten actualizaciones unilaterales o
                    modificaciones en los términos aplicables a consumidores, por lo que es posible que este párrafo no
                    le sea de
                    aplicación. [Ver términos de Canadá] Los presentes Términos podrían ser actualizados ocasionalmente
                    por
                    nosotros. En caso de modificación sustancial, publicaríamos una notificación en la Plataforma o se
                    lo
                    notificaríamos a usted directamente. Lea las modificaciones y si no está de acuerdo con ellas, por
                    favor, deje
                    de usar la Plataforma. Si continúa usando nuestra Plataforma tras haberle notificado las
                    modificaciones,
                    entenderemos que los Términos actualizados han sido tácitamente aceptados por usted, salvo que los
                    mismos sean
                    contrarios a la ley.
                    Condiciones de Venta. Con cualquier compra que realice con nosotros, usted además acepta las
                    Condiciones de
                    Venta aplicables en su país o región. [Ver términos aplicables en Hungría]
                    Política de Privacidad. Nuestra Política de Privacidad describe la recogida y uso de información
                    personal en la
                    Plataforma y aplica al uso que usted haga de la Plataforma.
                    Notificación Importante para Deportistas no-profesionales. Usted es responsable de asegurar que su
                    participación
                    en la Plataforma no afecte a su admisibilidad como deportista no-profesional. Por favor, consulte
                    con su
                    asociación de deportes no-profesional para ver que reglas le son de aplicación. NIKE no se hace
                    responsable si
                    el uso de la Plataforma resulta en su inadmisibilidad como deportista no-profesional.</p>
                <hr class="my-4">
                <h1 class="display-4">1. NORMATIVA BÁSICA</h1>
                <p class="lead">
                    requisitos. Usted sólo es apto para usar la Plataforma si es mayor de edad en su país o si tiene el
                    permiso de
                    un progenitor o tutor legal. Puede haber limitaciones específicas de edad para servicios específicos
                    de la
                    Plataforma en varios países.

                    REGLAS DE INSCRIPCIÓN. Cuando usted crea una cuenta con nosotros, le aplican las siguientes reglas:

                    Sea Veraz: Proporcione datos verídicos y actuales cuando se dé de alta.
                    Sea Usted: Mantenga su inscripción personal. No cree más de una cuenta NIKE, cree una cuenta en
                    nombre de otro o
                    transmita su cuenta.
                    Sea Seguro: Mantenga su nombre de usuario, su contraseña y cualquier otra credencial de acceso
                    seguros y no
                    permita que nadie más use su cuenta.
                    Sea Responsable: Informe inmediatamente a NIKE de cualquier uso no autorizado de su cuenta. Usted es
                    responsable
                    de todo lo que se haga a través de su cuenta NIKE, con o sin su permiso. DENTRO DE LOS LÍMITES
                    ESTABLECIDOS POR
                    LA LEY, NIKE NO RESPONDERÁ POR LAS EVENTUALES PÉRDIDAS O POR LA ACTIVIDAD QUE SEAN CONSECUENCIA DE
                    UN USO NO
                    AUTORIZADO DE SU CUENTA.</p>
                <hr class="my-4">
                <h1 class="display-4">2. PROPIEDAD DEL CONTENIDO</h1>
                <p class="lead">
                    Salvo por el Contenido de Usuario (definido más adelante), todo el contenido de nuestra Plataforma
                    ¾incluyendo
                    el texto, software, scripts, códigos, diseños, gráficos, fotografías, sonidos, música, vídeos,
                    aplicaciones,
                    elementos interactivos o características, artículos, noticias, dibujos, animaciones, etiquetas,
                    trabajo
                    artístico en general y cualquier otro contenido (“Contenido”)¾ es propiedad de NIKE o de quiénes
                    tengan la
                    correspondiente licencia con respecto al Contenido; que está protegido por derechos de autor
                    (copyright), de
                    marca, patentes y por otras leyes. NIKE se reserva cualesquier derecho no expresamente descrito en
                    los presentes
                    Términos.

                    Todas las marcas, marcas de servicio y nombres comerciales (e.g. el nombre NIKE y el diseño
                    “Swoosh”) son
                    propiedad de NIKE, están registradas/inscritas a su nombre y/o licenciado por NIKE. Usted no está
                    adquiriendo
                    una licencia o derecho de propiedad alguno sobre las marcas, marcas de servicios o nombres
                    comerciales mediante
                    el acceso a o el uso de la Plataforma o del Contenido.
                    Usted acepta no modificar ni eliminar ningún “aviso de propiedad” o “signo identificador del
                    propietario” de los
                    materiales descargados de o impresos desde la Plataforma.
                    En la medida en la que NIKE apruebe la descarga o el uso del Contenido comprendido por derechos de
                    autor
                    (copyright) o por trabajos protegidos por derechos de autor, NIKE le concede a usted una licencia
                    limitada,
                    personal, intransferible, no sublicenciable y revocable para acceder a y para usar dichos derechos
                    de autor
                    (copyright) o trabajos protegibles por derechos de autor (copyright), solamente para el uso
                    específico que se
                    determine y sólo mientras NIKE mantenga el Contenido publicado. Usted no está adquiriendo un derecho
                    de
                    propiedad sobre el Contenido (incluyendo cualesquiera marcas u otros derechos de propiedad
                    intelectual incluidos
                    en el Contenido), y todo el Contenido está destinado al uso personal, no comercial. NIKE se reserva
                    el derecho a
                    monitorizar su uso y a modificar o revocar la presente licencia o su acceso al Contenido en
                    cualquier momento y
                    por cualquier causa. NIKE se reserva el derecho a eliminar cualquier Contenido que viole dichos
                    términos o los
                    derechos de propiedad intelectual de NIKE. El que NIKE le permita dicho uso limitado no constituye
                    una renuncia
                    a los derechos que NIKE ostenta sobre el Contenido.
                    Fuera de los derechos específicos de uso que le han sido concedidos por NIKE en conexión con la
                    Plataforma,
                    usted acepta no usar, copiar, editar, traducir, reproducir, distribuir, descargar, transmitir,
                    vender, crear
                    trabajo derivado de o explotar de cualquier forma el Contenido, incluyendo el Contenido de Usuario
                    (salvo si se
                    trata de su propio Contenido de Usuario publicado de forma legal en la Plataforma), sin el
                    consentimiento previo
                    y por escrito de NIKE. El uso no autorizado del Contenido puede suponer una violación de derechos de
                    autor
                    (copyright), marca u otras leyes de propiedad intelectual y podría conllevarle sanciones penales o
                    civiles y
                    penalidades.</p>
                <hr class="my-4">

            </div>

        </div>
    </div>
</div>





<% include partials/footer %>
<% include partials/botton %>